<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
</head>
<body>

<h3>Step 1: the spreadsheet</h3>
<h3>Step 2: <a href="./../view/scorer.html">import the spreadsheets</a></h3>
<h3>Step 2: <a href="./../view/scorer.html">get the patient's profile</a></h3>

<hr/>
<h1>Step 1: the spreadsheet</h1>


<span >IMPORTANT: these are public spreadsheets! If you do not want your patient's data to be open for other researchers, please do not use these forms. Instead, download the spreadsheets and enter your data using Excel, OpenOffice or LibreOffice (you will still be able to use the Scoring app since the scoring app only needs a .csv format).</span>

<p>Save the spreadsheets to your computer as a .csv file. </p>

<ul>
<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AjJz4n1qwkYAdHZZcEw1MWh6X1Y4VXJkQ0E2dl9GblE">Questions 1. - 190.</a></li>
<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AjJz4n1qwkYAdGMwbkhPWmZ2Z090RE5XZG1BclRfVmc">Questions 191. - 427.</a></li>
</ul>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHZZcEw1MWh6X1Y4VXJkQ0E2dl9GblE6MQ" width="100%" height="34640" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGMwbkhPWmZ2Z090RE5XZG1BclRfVmc6MQ" width="100%" height="32278" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


</body>
</html>