<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
</head>
<body>

<a href="./../view/data_entry_form.html">Step 1: 
<img width="100" src="./../images/ebat_to_form.png"/></a>

<a href="./../view/scorer.html">Step 2: 
<img width="100" src="./../images/spreadsheet_to_profile.png"/></a>

<hr/>
<h1>Step 1: the spreadsheet</h1>


<h3>Option 1: Excel, OpenOffice or LibreOffice</h3>
<p>If you want to use Excel, OpenOffice or LibreOffice, save the spreadsheets to your computer as a .csv file, and enter the data on your computer </p>
<div style="background-color:#555; color:#999; margin:1em;">
	

	<ul>
	<li><a target="top" href="https://docs.google.com/spreadsheet/ccc?key=0AjJz4n1qwkYAdHZZcEw1MWh6X1Y4VXJkQ0E2dl9GblE">Questions 1. - 190.</a></li>
	<li><a target="top" href="https://docs.google.com/spreadsheet/ccc?key=0AjJz4n1qwkYAdGMwbkhPWmZ2Z090RE5XZG1BclRfVmc">Questions 191. - 427.</a></li>
	</ul>
</div>

<h3>Option 2: Google Docs</h3>

<p>IMPORTANT: these forms below are public Google Spreadsheets! If you want to share your patient's data to be open for other researchers, use these forms. If you want your patient's data to be private, please do not use these forms. Instead, download the spreadsheets and enter your data using Excel, OpenOffice or LibreOffice using Option 1 above.</p>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHZZcEw1MWh6X1Y4VXJkQ0E2dl9GblE6MQ" width="100%" height="34640" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGMwbkhPWmZ2Z090RE5XZG1BclRfVmc6MQ" width="100%" height="32278" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


</body>
</html>