<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push([ '_setAccount', 'UA-30895446-1' ]);
  _gaq.push([ '_trackPageview' ]);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www')
        + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

	<a href="./../view/data_entry_form.html">Step 1: <img width="100"
		src="./../images/ebat_to_form.png" /></a>

	<a href="./../view/scorer.html">Step 2: <img width="100"
		src="./../images/spreadsheet_to_profile.png" /></a>

	<hr />
	<h1>Step 1: the spreadsheets</h1>

	<h3>Option 0: Paper BAT and Calculator</h3>
	<p>If you are used to using a paper copy of the eBAT and a
		calculator to score the BAT, we estimate that it will be faster for
		you to continue to calculate a patient's result using pen and paper.
		Entering the data by computer is largely time-consuming and
		unnecessary if you do not need the data in digital form for a
		patient's records or for your research.</p>

	<h3>Option 1: Excel, OpenOffice or LibreOffice</h3>
	<p>If you are used to entering data using Excel, OpenOffice or
		LibreOffice, you can save these orange spreadsheets to your computer as
		a .csv file, and enter the data on your computer.</p>
	<div style="background-color: #555; color: #999; margin: 1em;">

		<ul>
			<li><a target="top" href="./../data/sheet1.csv">Spreadsheet
					1: Questions 1. - 190.</a></li>
			<li><a target="top" href="./../data/sheet2.csv">Spreadsheet
					2: Questions 191. - 427.</a></li>
		</ul>
	</div>

	<h3>Option 2: Online Forms</h3>

	<p>IMPORTANT: these forms below are public Google Spreadsheets! If
		you want your patient's data to be open for other researchers, you can
		use these forms.</p>
	<p>If you are entering data on a tablet, and want to use touch
		rather than a mouse. You can use the Google Forms shown below if you
		want to share your data with other members of the Bilingual Aphasia
		Community. To our knowledge the BAT and the digitized forms below,
		request no sensitive patient information. If you don't want others to
		see your data, download the spreadsheets in Option 1 above and enter your data using
		Excel, OpenOffice or LibreOffice.</p>
	<iframe
		src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHZZcEw1MWh6X1Y4VXJkQ0E2dl9GblE6MQ"
		width="100%" height="500" frameborder="0" marginheight="0"
		marginwidth="0">Loading...</iframe>
	<h4>Continued...</h4>
	<iframe
		src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGMwbkhPWmZ2Z090RE5XZG1BclRfVmc6MQ"
		width="100%" height="500" frameborder="0" marginheight="0"
		marginwidth="0">Loading...</iframe>


</body>
</html>
