<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
<meta charset="utf-8">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30895446-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<h1>Bilingual Aphasia Test Scorer</h1>

<div style="float:right;margin:2em;">
<h4>Browser Test:</h4>
<table  width="300"><tr><td width="100">
Javascript
</td><td width="100">
LocalStorage
</td></tr><tr><td>
<span class="red" id="javascript">✘</span>
</td><td>
<span class="red" id="localstorage">✘</span>
</td></tr></table>
</div>

<p>
<a href="https://chrome.google.com/webstore/detail/gpdfidinadjljljfdhghcmpjpepfgonn">Now  offline in the Chrome Store</a></p>

<p>
Twenty years ago we had two applications to score the BAT (Bilingual Aphasia Test), the PCBAT and the MacBAT, neither of which run anymore. Now we have a web-based BAT scorer, that will run on any computer, on any mobile device, anywhere.</p>

<p> You can use this scorer to get a patient profile in 3 steps: </p>

<h3>Step 1: <a href="./../view/data_entry_form.html">the spreadsheets</a></h3>

<a href="./../view/data_entry_form.html"><img src="./../images/ebat_to_form.png"/></a>
<h3>Step 2: <a href="./../view/scorer.html">import the spreadsheets</a></h3>
<a href="./../view/scorer.html"><img src="./../images/spreadsheet_to_profile.png"/></a>
<h3>Step 3: <a href="./../view/scorer.html">get the patient's profile</a></h3>

<footer>
<p>The BAT scorer is free, Open Source and developed using the GitHub project management tool, you can <a target="top" href="http://ilanguage.github.com/BilingualAphasiaTestScorer/">visit the project page</a> to find out how you can help make it better. 
</footer>

<script>
function hasClass(ele,cls) {
  return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
}
function addClass(ele,cls) {
  if (!this.hasClass(ele,cls)) ele.className += " "+cls;
}
if(localStorage){
	document.getElementById("localstorage").innerHTML="✔";
	addClass(document.getElementById("localstorage"),"green");
}
if(console){
	document.getElementById("javascript").innerHTML="✔";
	addClass(document.getElementById("javascript"), "green");
}

</script>

</body>
</html>