<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
</head>
<body>

<img src="./../images/small_title.png"/>

<a href="https://chrome.google.com/webstore/detail/gpdfidinadjljljfdhghcmpjpepfgonn">Install Me in Chrome</a>

Twenty years ago we had two applications to score the BAT (Bilingual Aphasia Test), the PCBAT and the MacBAT, in 2012 we got together with Dr. Paradis at McGill and decided to make a web-based BAT scorer, that will run on any computer, anywhere. You can use this scorer to get a patient profile in 3 steps:

<h3>Step 1: <a href="./../view/data_entry_form.html">the spreadsheet</a></h3>
<h3>Step 2: <a href="./../view/scorer.html">import the spreadsheets</a></h3>
<h3>Step 2: <a href="./../view/scorer.html">get the patient's profile</a></h3>


</body>
</html>