<html>
<head>
<link rel="stylesheet" type="text/css" href="./../css/main.css">
<title>Bilingual Aphasia Test Scorer</title>
</head>
<body>

<h1> Bilingual Aphasia Test Scorer</h1>
<input type="button" onclick="importFromCSV()" value="Import Text below"/>
<input type="button" onclick="combineSheets(0,1)" value="Combine Sheets 0 and 1"/>
<input type="button" class="purple" onclick="findQuestionsInRow(0)" value="Convert data into a Participant"/>

<div id="score_zone"> 
 
 <h2>Participant Scores:</h2>
 <div id="viz"></div>
    
</div>



</div>
<h2>Participant Data:</h2>
 
<div id="question_area" ></div>
<div id="data_area" ></div>
<output id="list">
    <pre></pre>
</output>
<div id="world"></div>
<div id="byte_range"></div>
<div id="byte_content"></div>

<script type="text/javascript" charset="utf-8" src="./../src/ImportFromCSV.js"></script>
<script type="text/javascript" src="./../lib/d3.js"></script>
<script type="text/javascript" src="./../lib/d3.layout.js"></script>
<script type="text/javascript" src="./../lib/colorbrewer.js"></script>
<script type="text/javascript" src="./../lib/donuts_multiple.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Scorer.js"></script>

</body>
</html>